html
    head
        title= title
    body(style='display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; gap: 1rem;')
        h1= message
        a(href=fileUrl, target='_blank') View your file
        button(onclick='location.href="/"') Upload another file
    