html
    head
        title= title
    body(style='display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; gap: 1rem;')
        h1= message
        a(href=videoUrl, target='_blank') Watch your video
        button(onclick='location.href="/"') Upload another video
    